@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root{
    height:100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height:100%;
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
}